<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isiuniversity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISIUniversity"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ProcessInstanceActivity"
            android:exported="false" />
        <activity
            android:name=".view.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProcessActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"/>
        <activity android:name=".view.IntroActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.WelcomeScreenActivity" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>